.fooditems-container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
}
.fooditems-container button{
    font-size: 20px;
    font-weight: 600;
    border: none;
    background: none;
    cursor: pointer;
}
.fooditems-container div{
    background-color: rgb(205, 205, 205);
    width: 2px;
    height: 25px;
}
.fooditems-img{
    display: grid;
    grid-template-columns: repeat(3,0fr);
    margin: 50px 200px;
    justify-content: space-between;
}
